/*------------------------------------------------------------------
    Slider
-------------------------------------------------------------------*/
.cover-slides {
  position: relative;
  height: 100vh;
}

.cover-slides .slides-container {
  text-align: center;
}

.cover-slides .container {
  height: 100%;
  position: relative;
  z-index: 1;
}

.cover-slides .container .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cover-slides .container .row {
  height: 100%;
}

.cover-slides h1 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 6.4rem;
  color: var(--white);
}

.cover-slides p {
  font-size: 1.8rem;
  color: var(--white);
}

.slides-navigation {
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}

.slides-navigation a {
  position: absolute;
  display: block;
  background: var(--primary);
  height: 70px;
  width: 70px;
  top: 50%;
  font-size: 2rem;
  color: var(--white);
  line-height: 84px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.slides-navigation a:hover {
  background: var(--black);
}

.slides-navigation a.prev {
  left: 0;
}

.slides-navigation a.next {
  right: 0;
}

.slides-navigation a i {
  font-size: 4rem;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.slides-pagination a {
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 2px;
  border: 2px solid var(--white);
}

.slides-pagination a.current {
  background: var(--primary);
  border: 2px solid var(--primary);
}

.cta-btn {
  color: var(--white);
  background-color: transparent;
  border-color: var(--primary);
}

.cta-btn:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}

.overlay-background {
  background: var(--black);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
}

/*------------------------------------------------------------------
    Features
-------------------------------------------------------------------*/

.features .body {
  align-items: center;
}

.features .img-fluid {
  box-shadow: -10px -10px 0px var(--primary);
  max-width: 100%;
  height: auto;
}

.features .content .headinglv1 {
  font-family: var(--font-heading);
  font-size: 3rem;
  color: var(--black);
}

.features .content .headinglv1 span {
  color: var(--primary);
}

.features .content .headinglv4 {
  font-size: 1.6rem;
  font-weight: 500;
}

.features .content .desc {
  font-size: 1.8rem;
}

.features .content .cta-btn {
  color: var(--primary);
}

.features .content .cta-btn:hover {
  color: var(--white);
}

/*------------------------------------------------------------------
    QT
-------------------------------------------------------------------*/
.qt-box {
  background: url(../images/qt-bg.jpg) no-repeat fixed center center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
}

.qt-box .content {
  margin: 0 auto;
}

.qt-box .desc {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 44px;
  color: var(--white);
  font-family: var(--font-heading);
  margin-bottom: 20px;
}

.qt-box .lead {
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
}

/*------------------------------------------------------------------
    Menu
-------------------------------------------------------------------*/

.menu-box .special-menu {
  text-align: center;
}

.menu-box .filter-button-group {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin: 10px 15px;
  display: inline-block;
}

.menu-box .filter-button-group button {
  color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  background: var(--white);
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
}

.menu-box .filter-button-group button.active {
  background: var(--primary);
  color: var(--white);
  box-shadow: 2px 20px 45px 5px rgba(0, 0, 0, 0.2);
}

.menu-box .gallery-single {
  margin: 30px 0px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px var(--light);
}

.menu-box .content {
  position: absolute;
  left: 0;
  bottom: -100%;
  right: 0;
  height: 100%;
  background: rgba(207, 166, 113, 0.9);
  padding: 12px;
  transition: all 0.3s ease;
}

.menu-box .content .title {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 500;
  font-family: var(--font-heading);
}
.menu-box .content .desc {
  color: var(--white);
  font-size: 1.8rem;
  border-bottom: 1px dashed var(--black);
  padding-bottom: 15px;
  margin: 15px 0;
}
.menu-box .content .price {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--white);
}

.menu-box .gallery-single:hover .content {
  bottom: 0px;
}

/*------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------*/

.gallery-box .heading .desc {
  font-size: 1.8rem;
  font-weight: 200;
  margin: 0px;
}

.gallery-box .tz-gallery {
  margin-top: 30px;
}

.gallery-box .tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 4px solid var(--primary);
}

.gallery-box .tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/*------------------------------------------------------------------
    Customer Reviews
-------------------------------------------------------------------*/

.customer-reviews-box .reviews {
  position: relative;
  width: 100%;
  margin: 0 auto !important;
}

.customer-reviews-box .carousel-item {
  margin: 0 auto;
}

.customer-reviews-box .carousel-item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
}

.customer-reviews-box .carousel-item__img img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 3px solid var(--primary);
}

.customer-reviews-box .carousel-item__info {
  margin-top: 18px;
}

.customer-reviews-box .carousel-item__info h3 {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 600;
}

.customer-reviews-box .carousel-item__info p {
  padding: 0 6vw 1rem;
  font-size: 1.6rem;
}

/*------------------------------------------------------------------
    Contact info
-------------------------------------------------------------------*/

.contact-info-box {
  background: var(--primary);
  padding: 30px 0;
}

.contact-info-box i {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: var(--white);
  color: var(--primary);
  font-size: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-info-box h4 {
  margin-top: 5px;
  color: var(--white);
  font-size: 20px;
  padding: 0px;
  font-weight: 600;
  line-height: 24px;
}

.contact-info-box p {
  font-size: 2em;
  color: var(--white);
  line-height: 1.5;
}

/*------------------------------------------------------------------
   Page Menu
-------------------------------------------------------------------*/
.container-fluid.menu {
  background: url(../images/slider-menu.jpg) no-repeat fixed center center;
  background-size: cover;
  height: 100vh;
}

.container-fluid__content {
  position: relative;
  top: 46%;
  z-index: 2;
  color: var(--white-color);
}

/*------------------------------------------------------------------
   Page About
-------------------------------------------------------------------*/
.container-fluid.about-us {
  background: url(../images/slider-about.jpg) no-repeat fixed center center;
  background-size: cover;
  height: 100vh;
}

/*------------------------------------------------------------------
   Page Reservation
-------------------------------------------------------------------*/
.container-fluid.reservation {
  background: url(../images/reservation.jpg) no-repeat fixed center center;
  background-size: cover;
  height: 100vh;
}

.reservation-box h3 {
  padding: 0px 15px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.8rem;
}

/*------------------------------------------------------------------
   Page Stuff
-------------------------------------------------------------------*/
.container-fluid.stuff {
  background: url(../images/slider-stuff.jpg) no-repeat fixed center center;
  background-size: cover;
  height: 100vh;
}

.stuff-box .our-team {
  border: 2px solid var(--primary);
  border-radius: 0px;
  margin: 10px;
  z-index: 1;
  position: relative;
}

.stuff-box .our-team:before,
.stuff-box .our-team:after {
  content: "";
  width: 100%;
  height: 104%;
  background: var(--primary);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%) scaleX(0.3);
  transition: all 0.3s ease 0s;
}

.stuff-box .our-team:after {
  width: 106%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0.25);
}

.stuff-box .our-team:hover:before {
  transform: translateY(-50%) scaleX(0.7);
}

.stuff-box .our-team:hover:after {
  transform: translate(-50%, -50%) scaleY(0.7);
}

.stuff-box .our-team .image {
  width: 100%;
  height: auto;
  border-radius: 0px;
  transition: all 0.3s ease 0s;
}

.stuff-box .our-team .team-content {
  width: 93%;
  padding: 25px 0 10px;
  background: var(--primary);
  position: absolute;
  bottom: 50px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.5, 0.2, 0.1, 0.9);
}

.stuff-box .our-team:hover .team-content {
  bottom: 10px;
  opacity: 1;
}

.stuff-box .our-team .title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}

.stuff-box .our-team .post {
  display: block;
  font-size: 16px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.stuff-box .our-team .social-list .social-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.stuff-box .our-team .social-list .social-item {
  display: inline-block;
  margin: 0 5px;
}

.stuff-box .our-team .social-list .social-item .social-link {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: var(--white);
  font-size: 2rem;
  color: var(--primary);
  transition: all 0.3s ease 0s;
}

.stuff-box .our-team .social .social-link:hover {
  background: var(--white);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  color: var(--primary);
}

/*------------------------------------------------------------------
   Page Gallery
------------------------- ------------------------------------------*/
.container-fluid.gallery {
  background: url(../images/slider-gallery.jpg) no-repeat fixed center center;
  background-size: cover;
  height: 100vh;
}

/*------------------------------------------------------------------
   Page Contact
------------------------- ------------------------------------------*/
.container-fluid.contact {
  background: url(../images/slider-contact.jpg) no-repeat fixed center center;
  background-size: cover;
  height: 100vh;
}

/*------------------------------------------------------------------
   Page Blog
-------------------------------------------------------------------*/
.container-fluid.blog {
  background: url(../images/slider-blog.jpg) no-repeat fixed center center;
  background-size: cover;
  height: 100vh;
}

.blog-left-sidebar .blog-inner-box {
  position: relative;
  margin: 0px 10px 30px 10px;
}

.blog-left-sidebar .blog-inner__img {
  box-shadow: -15px -15px 0px 0px rgba(0, 0, 0, 0.4);
  transition: all 1s ease 0.01s;
  position: relative;
}

.blog-left-sidebar .date-blog-up {
  position: absolute;
  right: 0px;
  top: 0px;
  background: var(--primary);
  font-size: 1.8rem;
  color: var(--white);
  padding: 5px 15px 5px 5px;
}

.blog-left-sidebar .blog-inner__details {
  background: var(--white);
  position: relative;
  padding: 30px 20px;
}

.blog-left-sidebar .blog-inner__details .title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.blog-left-sidebar .blog-inner__details ul li {
  display: inline-block;
  padding: 0px 5px;
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 500;
}

.blog-left-sidebar .blog-inner__details ul li span {
  color: var(--primary);
  font-weight: 600;
}

.blog-left-sidebar .blog-inner__details .desc {
  padding: 10px 0px;
  font-size: 1.5rem;
}

.blog-left-sidebar .blog-inner__details blockquote {
  border-left: 5px solid var(--primary);
}

.blog-left-sidebar .blog-inner__details blockquote {
  padding: 20px;
}

.blog-left-sidebar blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

.blog-left-sidebar .blog-comment-box {
  clear: both;
  margin: 20px 0px;
  float: left;
  width: 100%;
}

.blog-left-sidebar .blog-comment-box .children {
  margin-left: 70px;
}

.blog-left-sidebar .blog-comment-box h3 {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.blog-left-sidebar .comment-item {
  margin-bottom: 55px;
}

.blog-left-sidebar .comment-item-left {
  float: left;
  width: 90px;
  height: 90px;
}

.blog-left-sidebar .comment-item-left img {
  width: 100%;
  border-radius: 6px;
}

.blog-left-sidebar .comment-item-right {
  padding-left: 110px;
}

.blog-left-sidebar .comment-item-right .pull-right {
  font-size: 1.6rem;
  font-weight: 500;
}

.blog-left-sidebar .comment-item-right .pull-right span {
  font-weight: 400;
}

.blog-left-sidebar .desc {
  display: inline-block;
  width: 100%;
}

.blog-left-sidebar .desc p {
  font-size: 1.4em;
}

.blog-left-sidebar .comment-item-right a {
  font-size: 1.8rem;
  font-weight: 500;
}

.blog-left-sidebar .right-btn-re {
  float: right;
  font-style: italic;
  text-align: right;
  font-size: 1.6rem;
  padding: 5px 10px;
  background: #f5f5f5;
  border-radius: 6px;
}

.blog-left-sidebar .right-btn-re:hover {
  color: var(--white);
  background: var(--primary);
  transition: all linear 0.3s;
}

.blog-left-sidebar .comment-respond-box {
  clear: both;
}

.blog-left-sidebar .comment-respond-box h3 {
  font-size: 1.8rem;
}

.blog-left-sidebar .comment-form-respond input {
  min-height: 38px;
  border: 1px solid var(--black);
  border-radius: 0px;
  padding: 10px;
}
.blog-left-sidebar .comment-form-respond textarea {
  border: 1px solid var(--black);
  border-radius: 0px;
  padding: 10px;
  min-height: 120px;
}

.blog-left-sidebar .btn-submit {
  color: var(--primary);
  background-color: transparent;
  background-image: none;
  border-color: var(--primary);
}
.blog-left-sidebar .btn-submit:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
  transition: all linear 0.3s;
  cursor: pointer;
}

.blog-right-sidebar h3 {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 20px;
}

.blog-right-sidebar .blog-search-form {
  position: relative;
  border-bottom: 1px solid var(--black);
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.blog-right-sidebar .blog-search-form input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 40px 5px 10px;
  font-size: 1.5rem;
  color: var(--black);
}

.blog-right-sidebar .blog-search-form input:focus {
  border: 2px solid var(--primary);
  outline: none;
}

.blog-right-sidebar .blog-search-form .search-btn {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  font-size: 20px;
  min-height: 40px;
  padding: 0px 15px;
  cursor: pointer;
}

.blog-right-sidebar .blog-categories {
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.blog-right-sidebar .blog-categories ul li {
  line-height: 14px;
  padding: 10px 0px;
  border-top: 2px solid #f5f5f5;
}

.blog-right-sidebar .blog-categories ul li a {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
}

.blog-right-sidebar .blog-categories ul li a:hover {
  color: var(--primary);
}

.blog-right-sidebar .recent-item {
  margin-bottom: 20px;
  display: inline-block;
}

.blog-right-sidebar .recent-img {
  float: left;
  position: relative;
}

.blog-right-sidebar .recent-img::before {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 94%;
  background-color: #cfa671;
  opacity: 0.4;
  transform: scale(0);
  transition: all 0.5s ease;
}

.blog-right-sidebar .recent-item:hover .recent-img::before {
  transform: scale(1);
}

.blog-right-sidebar .recent-info {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
}

.blog-right-sidebar .recent-info ul li {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0px;
  color: var(--black);
}

.blog-right-sidebar .recent-info ul li span {
  font-weight: 600;
  color: var(--primary);
}

.blog-right-sidebar .recent-info h4 {
  font-size: 1.4rem;
  padding: 0px;
  margin: 11px 0px;
  font-weight: 500;
}

.blog-right-sidebar .tag-list .tag-item {
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 4px;
}

.blog-right-sidebar .tag-list .tag-item a {
  padding: 5px 15px;
  display: block;
  background: #f5f5f5;
  color: var(--black);
  border-radius: 6px;
  font-size: 1.8rem;
}

.blog-right-sidebar .tag-list .tag-item a:hover {
  color: var(--white);
  background: var(--primary);
}
