/* PC */
@media (min-width: 1024px) {
  .hide-on-pc {
    display: none !important;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
}

/* Mobile and Tablet */
@media screen and (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }

  .navbar {
    justify-content: space-between;
  }

  .cover-slides {
    height: 80vh !important;
  }

  .slides-navigation a {
    height: 50px;
    width: 50px;
    font-size: 1.2rem;
    line-height: 6;
  }

  .contact-info-box {
    background: var(--white);
  }

  .contact-item {
    margin-top: 12px;
    background: var(--primary);
    padding: 8px;
    border-radius: 4px;
  }

  .stuff-box .our-team {
    margin-top: 38px;
  }
}

/* Tablet*/
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .features .body {
    align-items: stretch;
  }
}

/* Mobile  */
@media screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }

  .cover-slides h1 {
    font-size: 4.6rem;
  }

  .cover-slides p {
    font-size: 1.2rem;
  }

  .container-fluid .heading-title {
    font-size: 5.4rem;
  }

  .features .content .desc {
    font-size: 1.4rem;
  }

  .special-item,
  .gallery-item {
    padding: 0 16px;
  }

  .footer-top h3 {
    margin-top: 12px;
  }
}
